<h2> Tweet: <%= @tweet.data %></h2>

<h3>Response from sentiment140 api</h3>

<h4>Polarity: 
<%  if @response_140 == 0 %> 
	Negative 
<% elsif @response_140 == 2 %>
	Nuetral
<% else %>
	Positive
<% end %>

</h4>

<hr />

<h3>Response from WOT api</h3>
<% if @response_wot.empty? %>
	No links were found in the tweet
<% else %>
	<strong>API result: <%= @response_wot %></strong>
	<ul>
	<% @response_wot.each do |key, response| %>
		<li>
			<strong><%= response["target"] %>: </strong>

			<% unless (response.keys - %w[target]).any? %>
				There is no data in the WOT db regarding this site.
			<% else %>
				<br />
			<% end %>

			<% if response["0"] != nil %>
				<strong>Trustworthiness: <%= response["0"][0] %></strong> according <%= response["0"][1] %> ratings  <br />
			<% end %>

			<% if response["4"] != nil %>
				<strong>Child Safety: <%= response["4"][0] %></strong> according <%= response["4"][1] %> ratings  <br />
			<% end %>

			<% if response["categories"] != nil %>
				<strong>Categories Result</strong>
				<ul>
				<% response["categories"].each do |code, rep| %>
					<li><%= code %>: <%= rep %></li>
				<% end %>
				</ul>
			<% end %>

			<% if response["blacklists"] != nil %>
				<strong>This site has been blacklisted for: </strong>
				<ol>
					<% response["blacklists"].each do |k,v| %>
					<li><strong><%= k %></strong></li>
					<% end %>
				</ol>
			<% end %>

		</li>
	<% end %>
	</ul>
<% end %>